/*URL*/
//$url: "/img/";
$url: "../img/";
$font_url :"../font/";
/*Hashing*/
$version: "?v=1";

$min: 1280px;
$max: 100%;


/*Font 및 Color*/
$family: 'NotoSansKR','Noto Sans KR', "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", dotum, "돋음",'AppleGothic', 'Arial', 'Meiryo', 'sans-serif';
$font_def: 16px;
$bold: 500;
$white: #ffffff;
$black: #333;
$point: #f3405e;
$point2: #209dfe;
